# Exclude specific files or directories
.accessibility.properties
.bash_history
.cache/
.config/
.gitconfig
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.node_repl_history
.ssh/
.vscode/
3D\ Objects/
AppData/
Contacts/
All\ 3rd\ semester\ assignments/
All\ in\ one/
Configuration/
Documentation/
E-shop-tutorial/
French\ 5\ scripts/
Installers/
MR/
Naem.pdf
New\ folder\ \(2\)/
OfficeWebsite/
Python_Selenium_Tutorial_in_Hindi__Dynamic_Websites_Scraped\(720p\).mp4
Todo/
WhatsApp\ Image\ 2024-01-09\ at\ 11.15.10\ PM\ \(1\).jpeg
WhatsApp\ Image\ 2024-01-09\ at\ 11.15.10\ PM.jpeg
WhatsApp\ Image\ 2024-01-09\ at\ 11.15.56\ PM.jpeg
car\ zain.pdf
chromedriver-win64\ \(1\).zip
crud\ operaton/
crudInSimple/
data\ added\ in\ lerature\ review.zip
data\ added\ in\ lerature\ review/
data\ for\ upwork/
dataScrypingbySelenium/
desktop.ini
drivers/
e-commrce/
exercise\ tracker\ app/
express\ data/
express,\ node\ and\ mongodb\ vedios/
express/
fiverr\ folder/
jwt/
leterature\ data/
leterature\ review/
licsence\ data/
main.py
mern\ vedios/
mern-e-commerece/
mern/
movies/
multivendor/
my\ images/
naveed.pdf
rest\ api/
scrapping\ from\ cars.txt
shahbaz.pdf
shoaib\ khan.pdf
typing\ certificate.docx
weather\ project/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
Saved\ Games/
Searches/
Untitled.ipynb
Videos/
_netrc
app.cpp
app.exe
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
wekafiles/
{
